.pos .pos-sale-ticket {
    text-align: left;
    width: 270px;
    background-color: white;
    margin: 20px;
    padding: 15px;
    font-size: 16px;
    padding-bottom:30px;
    display: inline-block;
    font-family: "Inconsolata";
    border: solid 1px rgb(220,220,220);
    border-radius: 3px;
    overflow: hidden;
    font-weight: 900;
}